@mixin font-face($font-family, $src, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: $src;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin pseudo($width, $height) {
  content: "";
  position: absolute;
  display: block;
  width: $width;
  height: $height;
}


@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
