/* здесь используйте глобальные переменные */
$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

$font-color-primary: #444444;
$font-color-secondary: #000000;
$font-color-third: #111111;
$font-color-fourth: #222222;
$font-color-light: #ffffff;

$bg-color: #68b738;
$bg-color-opacity: rgba(104, 183, 56, 0.85);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-content-width: 280px;
$tablet-content-width: 708px;
$desktop-content-width: 1220px;
