/* здесь используйте глобальные переменные */
$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;
$font-color-primary: #444444;
$font-color-secondary: #000000;
$font-color-light: #ffffff;
$bg-color: #68b738;

