.button {
  display: block;
  font-family: $font-secondary;
  color: $font-color-light;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: $bg-color;
}

.button--secondary {
  color: $font-color-primary;
  background-color: #f2f2f2;
}
