.catalog-add__title {
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.catalog-add__list {
  list-style-type: none;
}
