.catalog-add {
  margin: 0 auto;
  padding-top: 25px;
  width: $mobile-content-width;

  @media (max-width: calc($tablet-width - 1px)) {
    border-top: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 80px;
    padding-top: 71px;
    width: $desktop-content-width;
  }
}

.catalog-add__title {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  padding-right: 34px;
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  &::after {
    @include pseudo(34px, 2px);
    top: 12px;
    right: 0;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 330px;
    font-size: 32px;
    line-height: 32px;

    &::after {
      @include pseudo(327px, 2px);
      top: 16px;
      right: 0;
      background-color: #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    font-size: 40px;
    line-height: 40px;
  }
}

.catalog-add__list {
  @include list-reset;

  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
