.catalog__list {
  @include list-reset;

  margin: 0 auto;
  width: $mobile-content-width;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 60px;
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 63px 80px;
    width: $desktop-content-width;
  }
}

.catalog__item {
  @media (max-width: calc($tablet-width - 1px)) {
    position: relative;

    &::after {
      @include pseudo(100vh, 1px);
      left: -400px;
      top: 0;
      background-color: #ebebeb;
    }
  }
}

