.catalog-title {
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}
