.catalog-item {
  display: grid;
  grid-template: "img    title" auto "img    properties" 1fr "button button" auto / 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 280px;
  min-height: 209px;

  @media (min-width: $tablet-width) {
    grid-template: "img" auto "title" auto "properties" 1fr "button" auto / 1fr;
    padding: 10px 37px 40px;
    width: 324px;
    min-height: 511px;
    background-image: linear-gradient(to top, #f2f2f2 84.15%, transparent 84.15%);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 10px 37px 40px;
  }
}

.catalog-item__link {
  grid-area: title;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    justify-self: center;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.catalog-item__title {
  grid-area: title;
  margin: 0;
  width: 76px;
  font-family: $font-secondary;
  color: $font-color-fourth;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 136px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog-item__link-img {
  grid-area: img;

  @media (min-width: $tablet-width) {
    justify-self: center;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.catalog-item__properties {
  grid-area: properties;
  margin-bottom: 17px;

  @include list-reset;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-item__property {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    &::after {
      @include pseudo(100%, 1px);
      bottom: -5px;
      left: 0;
      background-color: #cdcdcd;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}


.catalog-item__button {
  grid-area: button;
}

.catalog-item--more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 78px;

  &::before {
    @include pseudo(30px, 30px);
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../../icons/stack.svg#plus");
  }

  @media (min-width: $tablet-width) {
    align-self: end;
    padding-top: 160px;
    min-height: 430px;
    height: 430px;
    background-image: none;
    border: 2px solid #d3d3d3;

    &::before {
      top: 50px;
      width: 60px;
      height: 60px;
    }
  }
}

.catalog-item__title--more {
  margin-bottom: 8px;
  width: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.catalog-item__more-description {
  margin: 0;
  margin-bottom: auto;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-item__button--more {
  width: 100%;
}
