.catalog-item__title {
  font-family: $font-secondary;
  color: $font-color-fourth;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-item__properties {
  font-size: 12px;
  line-height: 16px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-item__more-description {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-item--more {
  position: relative;

  &::before {
    @include pseudo(30px, 30px);
    top: 10px;
    left: 40px;
    background-image: url("../../icons/stack.svg#plus");
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 60px;
      height: 60px;
    }
  }
}
