.example {
  display: grid;
  row-gap: 20px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 40px;
  width: $mobile-content-width;

  @media (min-width: $tablet-width) {
    grid-template-columns: 367px 1fr;
    padding-bottom: 101px;
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 367px 1fr;
    padding-bottom: 101px;
    width: $desktop-content-width;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.example__stats {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
}

.example__meaning {
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__parameter {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__cost {
  justify-self: center;
  margin: 0;
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__compare {
  grid-column: 1/-1;
  display: flex;
}

.example__image {
  height: 100%;
}

.example__button {
  position: relative;
  display: block;
  width: 4px;
  height: 256px;
  padding: 0;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: #5eaa2f;
    opacity: 0.6;
  }

  &:focus-visible {
    background-color: #68b738;
  }

  &::before {
    @include pseudo(40px, 40px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 2px solid #666666;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: #68b738;
  }

  &:active::before {
    border-color: #5eaa2f;
  }

  &:focus-visible::before {
    border-color: #68b738;
  }

  &::after {
    @include pseudo(24px, 18px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #666666;
    mask-image: url("../../icons/stack.svg#example-button-arrows");
  }

  &:hover::after {
    background-color: #68b738;
  }

  &:active::after {
    background-color: #5eaa2f;
  }

  &:focus-visible::after {
    background-color: #68b738;
  }
}
