.example {
  background-color: #eaeaea;
}

.example__stats {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__title {
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__meaning {
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__parameter {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__cost {
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__button {
  position: relative;
  display: block;
  width: 4px;
  height: 100px;
  margin-left: 100px;
  padding: 0;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: #5eaa2f;
    opacity: 0.6;
  }
}

.example__button-arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example__button:hover > .example__button-arrows rect {
  stroke: #68b738;
}

.example__button:hover > .example__button-arrows path {
  fill: #68b738;
}

.example__button:active > .example__button-arrows rect {
  stroke: #5eaa2f;
}

.example__button:active > .example__button-arrows path {
  fill: #5eaa2f;
}
