.footer {
  display: grid;
  gap: 40px;
  justify-items: center;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: $mobile-content-width;
}

.footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    opacity: 0.8;
  }
}
