.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 13px 0 14px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: $desktop-content-width;
    z-index: 4;
  }
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    opacity: 0.8;
  }
}
