.hero-wrapper {
  position: relative;
  margin-bottom: 20px;
  background-image: url("../../images/hero-image-mobile@1x.jpg");
  // background-image:
  //   image-set (
  //     url("../../images/hero-image-mobile@1x.webp") type("image/webp") 1x,
  //     url("../../images/hero-image-mobile@2x.webp") type("image/webp") 2x,
  //     url("../../images/hero-image-mobile@1x.jpg") type("image/jpeg") 1x,
  //     url("../../images/hero-image-mobile@2x.jpg") type("image/jpeg") 2x
  //   );
  background-size: auto 62.9%;
  background-repeat: no-repeat;
  background-position: center top;

  &::after {
    @include pseudo(100%, 62.9%);
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient($bg-color-opacity 0%, $bg-color-opacity 100%);
  }

  &::before {
    @include pseudo(100%, 62.9%);
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to right, rgba(80, 80, 85), rgba(67, 66, 71));
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/hero-image-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    background-image: none;

    &::after {
      @include pseudo(0, 0);
    }

    &::before {
      @include pseudo(0, 0);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    background-image: url("../../images/hero-image-desktop@1x.jpg");
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/hero-image-desktop@2x.jpg");
    }
  }
}
