.hero {
  margin: 0 auto;
  width: 280px;
  padding-top: 27px;
  font-family: $font-secondary;
  color: $font-color-light;
  text-align: center;
}

.hero__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    color: $font-color-secondary;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $font-color-secondary;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__picture {
  display: block;
}
