.htmlacademy-logo {
  display: block;
}

.htmlacademy-logo__picture {
  display: block;
  width: 27px;
  height: 34px;
  background-color: #444444;
  mask-image: url("../../icons/stack.svg#logo-htmlacademy");
}

.htmlacademy-logo__text {
  display: block;
  font-family: $font-primary;
  color: $font-color-primary;
  font-size: 16px;
  line-height: 20px;
}

.htmlacademy-logo:hover .htmlacademy-logo__picture {
  background-color: #68b738;
}

.htmlacademy-logo:active .htmlacademy-logo__picture {
  opacity: 0.3;
}

.htmlacademy-logo:focus-visible .htmlacademy-logo__picture {
  background-color: #68b738;
}

.htmlacademy-logo:active .htmlacademy-logo__text {
  opacity: 0.3;
}
