.site-list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.site-list__link {
  display: block;
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $desktop-width) {
    color: $font-color-light;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    opacity: 0.6;
  }
}

.site-list--hidden {
  display: none;
}
