.subscribe {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: $mobile-content-width;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 80px;
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;
    padding-bottom: 104px;
    width: $desktop-content-width;
  }
}

.subscribe__title {
  position: relative;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 30px;
  width: 192px;
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  &::after {
    @include pseudo(100vh, 2px);
    top: 12px;
    left: 192px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    padding-left: 40px;
    padding-right: 30px;
    width: 282px;
    font-size: 32px;
    line-height: 32px;
    background-color: #ffffff;

    &::after {
      @include pseudo(200vh, 2px);
      top: 16px;
      left: -400px;
      background-color: #68b738;
      z-index: -2;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: -40px;
    padding-left: 40px;
    padding-right: 30px;
    width: 333px;
    font-size: 40px;
    line-height: 40px;

    &::after {
      @include pseudo(400vh, 2px);
      top: 20px;
      left: -100vh;
      background-color: #68b738;
    }
  }
}

.subscribe__slogan {
  margin: 0;
  margin-bottom: 24px;
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    width: 752px;
    text-align: center;
  }
}

.subscribe__form {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 752px;
  }
}

.subscribe__email {
  padding: 12px;
  margin-bottom: 16px;
  width: $mobile-content-width;
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus-visible {
    border: 2px solid #444444;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 354px;
  }

  @media (min-width: $desktop-width) {
    width: 398px;
  }
}

.subscribe__button {
  padding-top: 15px;
  padding-bottom: 15px;
  width: $mobile-content-width;
  font-size: 20px;
  line-height: 26px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 354px;
  }
}
