.works {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 49px;
  width: $mobile-content-width;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 69px;
    width: $desktop-content-width;
  }
}

.works__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $font-secondary;
  color: $font-color-secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.works__list {
  display: grid;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: ch1;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 45px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
  }
}

.works__item {
  position: relative;
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 20px;
  min-height: 60px;

  &::before {
    @include pseudo(60px, 60px);
    position: static;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
    gap: 31px 0;
    padding-top: 40px;
    padding-bottom: 57px;
    min-height: 280px;

    &::after {
      @include pseudo(auto, 280px);

      right: 0;
      counter-increment: ch1;
      content: counter(ch1);
      color: #f2f2f2;
      font-family: $font-secondary;
      font-size: 280px;
      line-height: 280px;
      z-index: -2;
    }
  }
}

.works__item--leaf {
  @media (min-width: $tablet-width) {
    width: 230px;
  }

  &::before {
    background-image: url("../../icons/stack.svg#leaf");
    background-size: 25px 28px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.works__item--drink {
  @media (min-width: $tablet-width) {
    width: 246px;
  }

  &::before {
    background-image: url("../../icons/stack.svg#drink");
    background-size: 26px 29px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.works__item--tableware {
  @media (min-width: $tablet-width) {
    width: 247px;
  }

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  &::before {
    background-image: url("../../icons/stack.svg#tableware");
    background-size: 25px 30px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.works__item--clock {
  @media (min-width: $tablet-width) {
    width: 249px;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  &::before {
    background-image: url("../../icons/stack.svg#clock");
    background-size: 26px 31px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
